.container_geral{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.row{
    display: flex;
    gap:10px;
}
.sidebar-left{
    flex: 1;
    padding: 20px;
    background-color: #e0e0e0;
}
.sidebar-right{
    flex: 1;
    padding: 20px;
    background-color: #e0e0e0;
}
.main{
    flex:3;
    padding: 20px;
    background-color: #e0e0e0;
}