:root{
    --primary-color: #2B31FF;
}
.container_geral{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.header{
    background-color: var(--primary-color);
    padding: 20px;
}
.row{
    display: flex;
    gap:10px;
}
.sidebar-left,
.sidebar-right{
    flex: 1;
    padding: 20px;
    background-color: #e0e0e0;
}
.main{
    flex:3;
    padding: 20px;
    background-color: #e0e0e0;
}
.footer{
    background-color: var(--primary-color);
    padding:20px;
}